.button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  background-color: $green;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: auto;
  padding: 0 15px;
  white-space: nowrap;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }
}