@import './generic/normalize';
@import './settings/settings';
@import './elements/elements';
//components
@import './components/list';
@import './components/section';
@import './components/form';
@import './components/button';
@import './components/tab';